@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  --beige-500: #98908B;
  --beige-100: #F8F4F0;

  --grey-900: #201F24;
  --grey-500: #696868;
  --grey-300: #B3B3B3;
  --grey-100: #F2F2F2;

  /* Secondary Colours */
  --green: #277C78;
  --yellow: #F2CDAC;
  --cyan: #82C9D7;
  --navy: #626070;
  --red: #C94736;
  --purple-secondary: #826CB0;

  /* Other Colours */
  --purple: #AF81BA;
  --turquoise: #597C7C;
  --brown: #93674F;
  --magenta: #934F6F;
  --blue: #3F82B2;
  --navy-grey: #97A0AC;
  --army-green: #7F9161;
  --gold: #CAB361;
  --orange: #BE6C49;

  --radius: 0.625rem;

  /* App-Wide OKLCH Colors */
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);

  /* Chart Colors */
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);

  /* Sidebar Colors */
  --sidebar: var(--grey-900);
  --sidebar-foreground: var(--grey-300);
  --sidebar-primary: var(--beige-100);
  --sidebar-primary-foreground: var(--grey-900);
  --sidebar-accent: var(--beige-100);
  --sidebar-accent-foreground: var(--grey-900);
  --sidebar-border: transparent;
  --sidebar-ring: transparent;
}

@theme inline {
  --color-background: var(--beige-100);
  --color-foreground: var(--grey-900);

  --color-beige-500: var(--beige-500);
  --color-beige-100: var(--beige-100);

  --color-grey-900: var(--grey-900);
  --color-grey-500: var(--grey-500);
  --color-grey-300: var(--grey-300);
  --color-grey-100: var(--grey-100);

  --color-green: var(--green);
  --color-yellow: var(--yellow);
  --color-cyan: var(--cyan);
  --color-navy: var(--navy);
  --color-red: var(--red);
  --color-purple-secondary: var(--purple-secondary);
  --color-purple: var(--purple);
  --color-turquoise: var(--turquoise);
  --color-brown: var(--brown);
  --color-magenta: var(--magenta);
  --color-blue: var(--blue);
  --color-navy-grey: var(--navy-grey);
  --color-army-green: var(--army-green);
  --color-gold: var(--gold);
  --color-orange: var(--orange);

  /* Mapped UI Tokens */
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);

  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);

  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

/* TYPOGRAPHY PRESETS */
.text-preset-1 {
  @apply text-[32px] leading-[120%] font-bold;
}

.text-preset-2 {
  @apply text-[20px] leading-[120%] font-bold;
}

.text-preset-3 {
  @apply text-[16px] leading-[150%] font-bold;
}

.text-preset-4 {
  @apply text-[14px] leading-[150%] font-normal;
}

.text-preset-4-bold {
  @apply text-[14px] leading-[150%] font-bold;
}

.text-preset-5 {
  @apply text-[12px] leading-[150%] font-normal;
}

.text-preset-5-bold {
  @apply text-[12px] leading-[150%] font-bold;
}

/* BASE RESET */
@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
    font-family: var(--font-public-sans), Arial, Helvetica, sans-serif;
  }
}
